openapi: 3.2.0
info:
  title: contact-center-apis Active Phone Numbers API
  version: '1.2'
servers:
- url: https://api.regal.ai/v1
security:
- sec0: []
tags:
- name: ActivePhoneNumbers
paths:
  /activePhoneNumbers:
    get:
      summary: List Active Phone Numbers
      description: Retrieve a list of active phone numbers.
      operationId: active-phone-number-api
      parameters:
      - name: nextCursor
        in: query
        description: Used for pagination to retrieve the next page of data. Optional
        schema:
          type: string
      - name: size
        in: query
        description: Specific the number of results per page, up to 100.
        schema:
          type: string
          default: '25'
      - name: Authorization
        in: header
        description: Your Regal API Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Response Data:
                  value: "{\n    \"items\": [\n        {\n            \"id\": \"d461260a-e4e6-40d0-a667-f59f1a02195a\",\n            \"phoneNumber\": \"+17735550477\",\n            \"createdAt\": \"2021-07-16T13:51:45.853Z\",\n            \"updatedAt\": \"2024-08-14T18:42:00.600Z\",\n            \"internalDisplayName\": \"Sales IB Line\",\n            \"subBrand\": \"CA\",\n            \"ivrUuid\": \"fa3586f2-f737-4585-8b44-b1a1afc1f818\",\n            \"ivrName\": \"Main IVR\",\n            \"ivrFriendlyId\": 243\n        },\n        {\n            \"id\": \"e28f3a54-68ac-40d4-9f50-7bfc3a28fafb\",\n            \"phoneNumber\": \"+17735550101\",\n            \"createdAt\": \"2022-07-24T18:16:33.814Z\",\n            \"updatedAt\": \"2024-03-21T14:49:03.844Z\",\n            \"internalDisplayName\": \"UCLA Dedicated Number\",\n            \"subBrand\": \"UCLA\",\n            \"ivrUuid\": \"f40e5449-e4ae-4464-a4e1-da67e361ba5c\",\n            \"ivrName\": \"UCLA Inbound\",\n            \"ivrFriendlyId\": 62\n        },\n        {\n            \"id\": \"c6cdeb02-d6ec-4447-ac6a-1704881161ac\",\n            \"phoneNumber\": \"+17735550123\",\n            \"createdAt\": \"2022-07-24T18:16:33.814Z\",\n            \"updatedAt\": \"2022-07-24T18:16:33.814Z\",\n            \"internalDisplayName\": \"NY Local Presence OB\",\n            \"subBrand\": \"NY\",\n            \"ivrUuid\": null,\n            \"ivrName\": null,\n            \"ivrFriendlyId\": null\n        },\n  ],\n  \"nextCursor\": \"xyz456\"\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: ''
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Unauthorized:
                  value: "{\n    \"message\": \"Unauthorized\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: '403'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Rate Limit Exceeded:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl --location ''https://api.regal.ai/v1/activePhoneNumbers'' \

            --header ''Authorization: YOUR API KEY'' \'
        samples-languages:
        - curl
      tags:
      - ActivePhoneNumbers
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: Authorization
      in: header
