openapi: 3.2.0
info:
  title: contact-center-apis Campaigns API
  version: '1.2'
servers:
- url: https://api.regal.ai/v1
security:
- sec0: []
tags:
- name: Campaigns
paths:
  /campaigns:
    get:
      summary: List Campaigns
      description: Retrieve a list of your campaigns.
      operationId: campaign-list-api
      parameters:
      - name: nextCursor
        in: query
        description: Used for pagination to retrieve the next page of data. Optional
        schema:
          type: string
      - name: size
        in: query
        description: Specific the number of results per page, up to 100.
        schema:
          type: string
          default: '25'
      - name: Authorization
        in: header
        description: Your Regal API Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Response Data:
                  value: "{\n  \"items\": [\n    {\n      \"id\": \"a2b159af-9390-488c-b33d-67447242e3bf\",\n      \"friendlyId\": \"12\",\n      \"state\": \"ready\",\n      \"name\": \"Spring Promo Call\",\n      \"type\": \"agent-task\",\n      \"channel\": \"phone_call\",\n      \"dialingMode\": \"progressive\",\n      \"priority\": 100,\n      \"createdAt\": \"2024-02-07T12:00:00Z\",\n      \"updatedAt\": \"2024-02-07T12:30:00Z\"\n    },\n    {\n      \"id\": \"a2f9349a-941a-4707-a27c-748563b78af1\",\n      \"friendlyId\": \"14\",\n      \"state\": \"draft\",\n      \"name\": \"Spring Promo SMS\",\n      \"type\": \"automated\",\n      \"channel\": \"sms\",\n      \"dialingMode\": null,\n      \"priority\": null,\n      \"createdAt\": \"2024-02-07T12:00:00Z\",\n      \"updatedAt\": \"2024-02-07T12:30:00Z\"\n    }\n  ],\n  \"nextCursor\": \"xyz456\"\n}"
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: a2b159af-9390-488c-b33d-67447242e3bf
                        friendlyId:
                          type: string
                          example: '12'
                        state:
                          type: string
                          example: ready
                        name:
                          type: string
                          example: Spring Promo Call
                        type:
                          type: string
                          example: agent-task
                        channel:
                          type: string
                          example: phone_call
                        dialingMode:
                          type: string
                          example: progressive
                        priority:
                          type: integer
                          example: 100
                          default: 0
                        createdAt:
                          type: string
                          example: '2024-02-07T12:00:00Z'
                        updatedAt:
                          type: string
                          example: '2024-02-07T12:30:00Z'
                  nextCursor:
                    type: string
                    example: xyz456
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: ''
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Unauthorized:
                  value: "{\n    \"message\": \"Unauthorized\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: '403'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Rate Limit Exceeded:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl --location ''https://api.regal.ai/v1/campaigns'' \

            --header ''Authorization: YOUR API KEY'' \'
        samples-languages:
        - curl
      tags:
      - Campaigns
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: Authorization
      in: header
