openapi: 3.1.0
info:
  title: contact-center-apis
  version: '1.2'
servers:
- url: https://api.regal.ai/v1
security:
- sec0: []
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: Authorization
      in: header
paths:
  /activePhoneNumbers:
    get:
      summary: List Active Phone Numbers
      description: Retrieve a list of active phone numbers.
      operationId: active-phone-number-api
      parameters:
      - name: nextCursor
        in: query
        description: Used for pagination to retrieve the next page of data. Optional
        schema:
          type: string
      - name: size
        in: query
        description: Specific the number of results per page, up to 100.
        schema:
          type: string
          default: '25'
      - name: Authorization
        in: header
        description: Your Regal API Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Response Data:
                  value: "{\n    \"items\": [\n        {\n            \"id\": \"d461260a-e4e6-40d0-a667-f59f1a02195a\",\n\
                    \            \"phoneNumber\": \"+17735550477\",\n            \"createdAt\": \"2021-07-16T13:51:45.853Z\"\
                    ,\n            \"updatedAt\": \"2024-08-14T18:42:00.600Z\",\n            \"internalDisplayName\": \"Sales\
                    \ IB Line\",\n            \"subBrand\": \"CA\",\n            \"ivrUuid\": \"fa3586f2-f737-4585-8b44-b1a1afc1f818\"\
                    ,\n            \"ivrName\": \"Main IVR\",\n            \"ivrFriendlyId\": 243\n        },\n        {\n\
                    \            \"id\": \"e28f3a54-68ac-40d4-9f50-7bfc3a28fafb\",\n            \"phoneNumber\": \"+17735550101\"\
                    ,\n            \"createdAt\": \"2022-07-24T18:16:33.814Z\",\n            \"updatedAt\": \"2024-03-21T14:49:03.844Z\"\
                    ,\n            \"internalDisplayName\": \"UCLA Dedicated Number\",\n            \"subBrand\": \"UCLA\"\
                    ,\n            \"ivrUuid\": \"f40e5449-e4ae-4464-a4e1-da67e361ba5c\",\n            \"ivrName\": \"UCLA\
                    \ Inbound\",\n            \"ivrFriendlyId\": 62\n        },\n        {\n            \"id\": \"c6cdeb02-d6ec-4447-ac6a-1704881161ac\"\
                    ,\n            \"phoneNumber\": \"+17735550123\",\n            \"createdAt\": \"2022-07-24T18:16:33.814Z\"\
                    ,\n            \"updatedAt\": \"2022-07-24T18:16:33.814Z\",\n            \"internalDisplayName\": \"NY\
                    \ Local Presence OB\",\n            \"subBrand\": \"NY\",\n            \"ivrUuid\": null,\n          \
                    \  \"ivrName\": null,\n            \"ivrFriendlyId\": null\n        },\n  ],\n  \"nextCursor\": \"xyz456\"\
                    \n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: ''
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Unauthorized:
                  value: "{\n    \"message\": \"Unauthorized\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: '403'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Rate Limit Exceeded:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl --location ''https://api.regal.ai/v1/activePhoneNumbers'' \

            --header ''Authorization: YOUR API KEY'' \'
        samples-languages:
        - curl
  /businessProfiles:
    get:
      summary: List Business Profiles
      description: Retrieve your business profile(s).
      operationId: active-phone-numbers-api
      parameters:
      - name: nextCursor
        in: query
        description: Used for pagination to retrieve the next page of data. Optional
        schema:
          type: string
      - name: size
        in: query
        description: Specific the number of results per page, up to 100.
        schema:
          type: string
          default: '25'
      - name: Authorization
        in: header
        description: Your Regal API Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Response Data:
                  value: "{\n    \"items\": [\n        {\n            \"id\": \"xxxxxxx-ec05-40a2-bd54-13e15786a4d7\",\n \
                    \           \"createdAt\": \"2024-10-30T14:34:17.036Z\",\n            \"updatedAt\": \"2024-10-30T14:34:17.036Z\"\
                    ,\n            \"createdBy\": \"Rebecca Greene\",\n            \"updatedBy\": \"Rebecca Greene\",\n  \
                    \          \"businessName\": \"Circle Cab\",\n            \"status\": \"in review\",\n            \"taxId\"\
                    : \"xxxxxxx\",\n            \"industry\": \"Transportation\",\n            \"size\": \"11 to 50\",\n \
                    \           \"streetAddress\": \"245 5th Ave\",\n            \"city\": \"New York\",\n            \"country\"\
                    : \"US\",\n            \"postalCode\": \"10128\",\n            \"state\": \"NY\",\n            \"businessProfileDBAs\"\
                    : [\n                {\n                    \"id\": \"xxxxxx-512c-4df8-9c9d-08c5b7919a48\",\n        \
                    \            \"createdAt\": \"2024-10-30T14:34:17.036Z\",\n                    \"updatedAt\": \"2024-10-30T14:34:17.036Z\"\
                    ,\n                    \"createdBy\": \"Rebecca Greene\",\n                    \"updatedBy\": \"Rebecca\
                    \ Greene\",\n                    \"name\": \"Circle Cab\",\n                    \"website\": \"circlecab.com\"\
                    \n                }\n            ]\n        }\n    ],\n    \"nextCursor\": null\n}"
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: xxxxxxx-ec05-40a2-bd54-13e15786a4d7
                        createdAt:
                          type: string
                          example: '2024-10-30T14:34:17.036Z'
                        updatedAt:
                          type: string
                          example: '2024-10-30T14:34:17.036Z'
                        createdBy:
                          type: string
                          example: Rebecca Greene
                        updatedBy:
                          type: string
                          example: Rebecca Greene
                        businessName:
                          type: string
                          example: Circle Cab
                        status:
                          type: string
                          example: in review
                        taxId:
                          type: string
                          example: xxxxxxx
                        industry:
                          type: string
                          example: Transportation
                        size:
                          type: string
                          example: 11 to 50
                        streetAddress:
                          type: string
                          example: 245 5th Ave
                        city:
                          type: string
                          example: New York
                        country:
                          type: string
                          example: US
                        postalCode:
                          type: string
                          example: '10128'
                        state:
                          type: string
                          example: NY
                        businessProfileDBAs:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: xxxxxx-512c-4df8-9c9d-08c5b7919a48
                              createdAt:
                                type: string
                                example: '2024-10-30T14:34:17.036Z'
                              updatedAt:
                                type: string
                                example: '2024-10-30T14:34:17.036Z'
                              createdBy:
                                type: string
                                example: Rebecca Greene
                              updatedBy:
                                type: string
                                example: Rebecca Greene
                              name:
                                type: string
                                example: Circle Cab
                              website:
                                type: string
                                example: circlecab.com
                  nextCursor: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: ''
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Unauthorized:
                  value: "{\n    \"message\": \"Unauthorized\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: '403'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Rate Limit Exceeded:
                  value: ''
      deprecated: false
  /brandedPhoneNumbers:
    get:
      summary: List Branded Phone Numbers
      description: Retrieve a list of phone numbers submitted for branding and/or spam remediation.
      operationId: branded-phone-numbers
      parameters:
      - name: nextCursor
        in: query
        description: Used for pagination to retrieve the next page of data. Optional
        schema:
          type: string
      - name: size
        in: query
        description: Specific the number of results per page, up to 100.
        schema:
          type: string
          default: '25'
      - name: Authorization
        in: header
        description: The API key used to authenticate requests.
        required: true
        schema:
          type: string
      - name: phoneNumber
        in: query
        description: Filter by exact phone number (E.164 format, e.g., "%2B15551234567") - supports only one value at a time,
          not multiple. Optional
        schema:
          type: string
      - name: businessProfileId
        in: query
        description: Filter by business profile UUID - supports only one value at a time, not multiple. You can retrieve your
          business profile uuid by making a GET request to businessProfiles. Optional
        schema:
          type: string
      - name: carrier
        in: query
        description: Filter by carrier. Optional
        schema:
          type: string
          enum:
          - AT%26T
          - T-Mobile
          - Verizon
      - name: feature
        in: query
        description: Filter by feature. Optional
        schema:
          type: string
          enum:
          - brandedCallerId
          - spamRemediation
      - name: status
        in: query
        description: Filter by phone number level status. Optional
        schema:
          type: string
          enum:
          - submitted for review
          - approved
          - rejected
          - unregistered
      - name: detailedStatus
        in: query
        description: Filter by carrier/feature level status. Optional
        schema:
          type: string
          enum:
          - pending.initialOptIn
          - pending.optIn
          - approved.optIn
          - rejected.optIn
          - submitted.optOut
          - pending.optOut
          - approved.optOut
          - rejected.optOut
      - name: internalName
        in: query
        description: Filter by internal name. Optional
        schema:
          type: string
      - name: reportingGroup
        in: query
        description: Filter by reporting group. Optional
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Response Data:
                  value: "{\n    \"items\": [\n        {\n            \"id\": \"xxxx-xxx-xxxx-xxxx-xxxx\",\n            \"\
                    phoneNumber\": \"+1555123456\",\n            \"businessProfile\": {\n                \"id\": \"zzzzz-zzzz-zzzzzz-zzzz-zzzz\"\
                    ,\n                \"businessName\": \"Circle Bank\",\n                \"status\": \"approved\"\n    \
                    \        },\n            \"internalName\": \"Mortgage Sales Line\",\n            \"brandingNameShort\"\
                    : \"Circle Bank\",\n            \"brandingNameLong\": \"Circle Bank Financial\",\n            \"reportingGroup\"\
                    : \"Control\",\n            \"status\": \"submitted for review\",\n            \"carrierStatuses\": [\n\
                    \                {\n                    \"carrier\": \"T-Mobile\",\n                    \"feature\": \"\
                    brandedCallerId\",\n                    \"detailedStatus\": \"pending.initialOptIn\",\n              \
                    \      \"createdAt\": \"2026-02-03T16:49:03.043Z\"\n                },\n                {\n          \
                    \          \"carrier\": \"T-Mobile\",\n                    \"feature\": \"spamRemediation\",\n       \
                    \             \"detailedStatus\": \"pending.initialOptIn\",\n                    \"createdAt\": \"2026-02-03T16:49:03.043Z\"\
                    \n                },\n                {\n                    \"carrier\": \"Verizon\",\n             \
                    \       \"feature\": \"brandedCallerId\",\n                    \"detailedStatus\": \"pending.initialOptIn\"\
                    ,\n                    \"createdAt\": \"2026-02-03T16:49:03.043Z\"\n                },\n             \
                    \   {\n                    \"carrier\": \"Verizon\",\n                    \"feature\": \"spamRemediation\"\
                    ,\n                    \"detailedStatus\": \"approved.optIn\",\n                    \"createdAt\": \"\
                    2026-02-05T18:51:51.868Z\"\n                },\n                {\n                    \"carrier\": \"\
                    AT&T\",\n                    \"feature\": \"brandedCallerId\",\n                    \"detailedStatus\"\
                    : \"pending.initialOptIn\",\n                    \"createdAt\": \"2026-02-03T16:49:03.043Z\"\n       \
                    \         },\n                {\n                    \"carrier\": \"AT&T\",\n                    \"feature\"\
                    : \"spamRemediation\",\n                    \"detailedStatus\": \"approved.optIn\",\n                \
                    \    \"createdAt\": \"2026-02-05T18:31:30.590Z\"\n                }\n            ],\n            \"createdAt\"\
                    : \"2026-02-03T16:49:02.748Z\",\n            \"updatedAt\": \"2026-02-03T16:49:02.748Z\"\n        },\n\
                    \        {\n            \"id\": \"yyyy-xxx-xxxx-xxxx-xxxx\",\n            \"phoneNumber\": \"+1555123456\"\
                    ,\n            \"businessProfile\": {\n                \"id\": \"zzzzz-zzzz-zzzzzz-zzzz-zzzz\",\n    \
                    \            \"businessName\": \"Circle Bank\",\n                \"status\": \"approved\"\n          \
                    \  },\n            \"internalName\": \"Circle Bank Main Line\",\n            \"brandingNameShort\": \"\
                    Circle Bank\",\n            \"brandingNameLong\": \"Circle Bank Financial\",\n            \"reportingGroup\"\
                    : \"Control\",\n            \"status\": \"approved\",\n            \"carrierStatuses\": [\n          \
                    \      {\n                    \"carrier\": \"T-Mobile\",\n                    \"feature\": \"brandedCallerId\"\
                    ,\n                    \"detailedStatus\": \"approved.optIn\",\n                    \"createdAt\": \"\
                    2026-02-03T16:49:03.043Z\"\n                },\n                {\n                    \"carrier\": \"\
                    T-Mobile\",\n                    \"feature\": \"spamRemediation\",\n                    \"detailedStatus\"\
                    : \"approved.optInn\",\n                    \"createdAt\": \"2026-02-03T16:49:03.043Z\"\n            \
                    \    },\n                {\n                    \"carrier\": \"Verizon\",\n                    \"feature\"\
                    : \"brandedCallerId\",\n                    \"detailedStatus\": \"approved.optInn\",\n               \
                    \     \"createdAt\": \"2026-02-03T16:49:03.043Z\"\n                },\n                {\n           \
                    \         \"carrier\": \"Verizon\",\n                    \"feature\": \"spamRemediation\",\n         \
                    \           \"detailedStatus\": \"approved.optIn\",\n                    \"createdAt\": \"2026-02-05T18:51:51.886Z\"\
                    \n                },\n                {\n                    \"carrier\": \"AT&T\",\n                \
                    \    \"feature\": \"brandedCallerId\",\n                    \"detailedStatus\": \"approved.optIn\",\n\
                    \                    \"createdAt\": \"2026-02-03T16:49:03.043Z\"\n                },\n               \
                    \ {\n                    \"carrier\": \"AT&T\",\n                    \"feature\": \"spamRemediation\"\
                    ,\n                    \"detailedStatus\": \"approved.optIn\",\n                    \"createdAt\": \"\
                    2026-02-05T18:31:30.604Z\"\n                }\n            ],\n            \"createdAt\": \"2026-02-03T16:49:02.748Z\"\
                    ,\n            \"updatedAt\": \"2026-02-03T16:49:02.748Z\"\n        }\n    ],\n    \"nextCursor\": \"\
                    xyz456\"\n}"
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: xxxx-xxx-xxxx-xxxx-xxxx
                        phoneNumber:
                          type: string
                          example: '+1555123456'
                        businessProfile:
                          type: object
                          properties:
                            id:
                              type: string
                              example: zzzzz-zzzz-zzzzzz-zzzz-zzzz
                            businessName:
                              type: string
                              example: Circle Bank
                            status:
                              type: string
                              example: approved
                        internalName:
                          type: string
                          example: Mortgage Sales Line
                        brandingNameShort:
                          type: string
                          example: Circle Bank
                        brandingNameLong:
                          type: string
                          example: Circle Bank Financial
                        reportingGroup:
                          type: string
                          example: Control
                        status:
                          type: string
                          example: submitted for review
                        carrierStatuses:
                          type: array
                          items:
                            type: object
                            properties:
                              carrier:
                                type: string
                                example: T-Mobile
                              feature:
                                type: string
                                example: brandedCallerId
                              detailedStatus:
                                type: string
                                example: pending.initialOptIn
                              createdAt:
                                type: string
                                example: '2026-02-03T16:49:03.043Z'
                        createdAt:
                          type: string
                          example: '2026-02-03T16:49:02.748Z'
                        updatedAt:
                          type: string
                          example: '2026-02-03T16:49:02.748Z'
                  nextCursor:
                    type: string
                    example: xyz456
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n    \"message\": \"Bad Request\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Bad Request
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Unauthorized:
                  value: "{\n    \"message\": \"Unauthorized\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Forbidden:
                  value: "{\n    \"message\": \"Forbidden\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Forbidden
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Rate Limit Exceeded:
                  value: "{\n    \"message\": \"Rate Limit Exceeded\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Rate Limit Exceeded
      deprecated: false
    post:
      summary: Post Branded Phone Number
      description: Post a phone number for spam remediation and/or branding.
      operationId: post-branded-phone-number
      parameters:
      - name: Authorization
        in: header
        description: The API key used to authenticate requests.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - phoneNumber
              - businessProfileId
              - carrierFeatures
              properties:
                phoneNumber:
                  type: string
                  description: E.164 format (e.g., +15551234567)
                businessProfileId:
                  type: string
                  description: Business profile id phone number is associated with. Use GET business profiles API to retrieve
                    your business profile ID(s) or copy from the Business Profiles page in Regal app
                carrierFeatures:
                  type: array
                  description: Array of carrier configurations (at least one carrier required)
                  items:
                    properties:
                      carrier:
                        type: string
                        description: Name of carrier
                        enum:
                        - AT&T
                        - T-Mobile
                        - Verizon
                      features:
                        type: object
                        description: Features are brandedCallerId and spamRemediation
                        properties:
                          brandedCallerId:
                            type: boolean
                            description: Optional, defaults to false
                          spamRemediation:
                            type: boolean
                            description: Optional, defaults to false
                    type: object
                brandingNameShort:
                  type: string
                  description: Display name (max 15 characters)
                brandingNameLong:
                  type: string
                  description: Display name (max 32 characters)
                internalName:
                  type: string
                  description: Internal friendly name for your phone number (e.g. Main Line, NE Region). Optional
                reportingGroup:
                  type: string
                  description: Name of reporting group for analytics. Optional
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Response Data:
                  value: "{\n    \"id\": \"xxxx-xxxx-xxxx-xxxxx-xxxx\",\n    \"phoneNumber\": \"+19545555555\",\n    \"businessProfile\"\
                    : {\n        \"id\": \"yyyy-yyyy-yyyy-yyyy-yyyy\",\n        \"businessName\": \"Circle Financial Services\"\
                    ,\n        \"status\": \"approved\"\n    },\n    \"internalName\": \"Sales Line\",\n    \"brandingNameShort\"\
                    : \"Circle Financial\",\n    \"brandingNameLong\": \"Circle Financial Services\",\n    \"reportingGroup\"\
                    : \"\",\n    \"status\": \"submitted for review\",\n    \"carrierStatuses\": [\n        {\n          \
                    \  \"carrier\": \"AT&T\",\n            \"feature\": \"brandedCallerId\",\n            \"detailedStatus\"\
                    : \"pending.initialOptIn\",\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\n        },\n   \
                    \     {\n            \"carrier\": \"AT&T\",\n            \"feature\": \"spamRemediation\",\n         \
                    \   \"detailedStatus\": \"pending.initialOptIn\",\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\
                    \n        },\n        {\n            \"carrier\": \"T-Mobile\",\n            \"feature\": \"brandedCallerId\"\
                    ,\n            \"detailedStatus\": \"pending.initialOptIn\",\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\
                    \n        },\n        {\n            \"carrier\": \"T-Mobile\",\n            \"feature\": \"spamRemediation\"\
                    ,\n            \"detailedStatus\": \"pending.initialOptIn\",\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\
                    \n        },\n\t\t\t\t{\n            \"carrier\": \"Verizon\",\n            \"feature\": \"brandedCallerId\"\
                    ,\n            \"detailedStatus\": \"pending.initialOptIn\",\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\
                    \n        },\n        {\n            \"carrier\": \"Verizon\",\n            \"feature\": \"spamRemediation\"\
                    ,\n            \"detailedStatus\": \"pending.initialOptIn\",\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\
                    \n        }\n    ],\n    \"createdAt\": \"2026-02-11T15:32:00.850Z\",\n    \"updatedAt\": \"2026-02-11T15:32:00.850Z\"\
                    \n}"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: xxxx-xxxx-xxxx-xxxxx-xxxx
                  phoneNumber:
                    type: string
                    example: '+19545555555'
                  businessProfile:
                    type: object
                    properties:
                      id:
                        type: string
                        example: yyyy-yyyy-yyyy-yyyy-yyyy
                      businessName:
                        type: string
                        example: Circle Financial Services
                      status:
                        type: string
                        example: approved
                  internalName:
                    type: string
                    example: Sales Line
                  brandingNameShort:
                    type: string
                    example: Circle Financial
                  brandingNameLong:
                    type: string
                    example: Circle Financial Services
                  reportingGroup:
                    type: string
                    example: ''
                  status:
                    type: string
                    example: submitted for review
                  carrierStatuses:
                    type: array
                    items:
                      type: object
                      properties:
                        carrier:
                          type: string
                          example: AT&T
                        feature:
                          type: string
                          example: brandedCallerId
                        detailedStatus:
                          type: string
                          example: pending.initialOptIn
                        createdAt:
                          type: string
                          example: '2026-02-11T15:32:00.907Z'
                  createdAt:
                    type: string
                    example: '2026-02-11T15:32:00.850Z'
                  updatedAt:
                    type: string
                    example: '2026-02-11T15:32:00.850Z'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n    \"statusCode\": 400,\n      \"message\": [\n        \"Business profile 8cba47fe-2d84-4476-b9b1-edeb8ad99c3f\
                    \ not found for this brand\",\n\t\t\t\t\"businessProfileId must be a UUID\",\n\t\t\t\t\"phoneNumber must\
                    \ be in E.164 format (e.g., +15551234567)\",\n        \"Carrier 'madeupcarrier' is not valid. Valid carriers\
                    \ are: att, tmobile, verizon\",\n        \"Phone number +12123333333 is already in use by another brand\"\
                    ,\n\t\t\t\t\"brandingNameShort must not exceed 15 characters”,\n\t\t\t\t\"brandingNameLong must not exceed\
                    \ 32 characters”,\n    ],\n    \"error\": \"Bad Request\"\n}"
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"statusCode\": 403,\n    \"message\": \"Invalid API Key\",\n    \"error\": \"Forbidden\"\
                    \n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                    default: 0
                  message:
                    type: string
                    example: Invalid API Key
                  error:
                    type: string
                    example: Forbidden
        '409':
          description: '409'
          content:
            application/json:
              examples:
                Unauthorized:
                  value: "{\n    \"statusCode\": 409,\n    \"message\": \"Phone number +17378888888 already exists for this\
                    \ brand. Use PATCH to update.\",\n    \"error\": \"Conflict\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 409
                    default: 0
                  message:
                    type: string
                    example: Phone number +17378888888 already exists for this brand. Use PATCH to update.
                  error:
                    type: string
                    example: Conflict
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Rate Limit Exceeded:
                  value: "{\n    \"statusCode\": 429,\n    \"message\": \"Too many requests\",\n    \"error\": \"Rate Limit\
                    \ Exceeded\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 429
                    default: 0
                  message:
                    type: string
                    example: Too many requests
                  error:
                    type: string
                    example: Rate Limit Exceeded
      deprecated: false
  /callHandoffs/{callKey}:
    get:
      responses:
        '200':
          description: A Call Handoff
          content:
            application/json:
              schema:
                type: object
                properties:
                  route.type:
                    type: string
                    example: skill
                    description: Five 9 Exclusive
                    enum:
                    - skill
                    - external
                    - agent
                    - hangup
                  route.value:
                    type: string
                    example: support-queue
                    description: Five 9 Exclusive - When "route.type" is hangup, it can be "agent_hangup", "user_hangup",
                      "error". When it's a transfer, it will be the Five9 skill name, phone number or agent username that
                      matches the selected route type
                  route.reason:
                    type: string
                    example: AI routed
                    description: Five 9 Exclusive - On transfers, it will be your defined Transfer Destination reason, on
                      hangups, it will be another descriptors on what happened.
                  meta.*:
                    type: string
                    example: high
                    description: Static metadata fields added to the integration configuration and the transfer destination
                      configuration (if the call ended with a cold transfer)
                  task.*:
                    type: string
                    example: five9-session-abc123
                    description: The related task attributes, plus the task SID
                  definedContactData.*:
                    type: string
                    example: Jane
                    description: The Defined Contact Data that was made available to the agent, with the variables collected
                      through a "Set Contact Data" action, in the Agent Builder
              examples:
                OK:
                  summary: OK
                  value:
                    route.type: skill
                    route.value: support-queue
                    route.reason: AI routed
                    meta.priority: high
                    task.incomingSipHeaders.X-CallSessionId: five9-session-abc123
                    task.direction: inbound
                    task.sid: WT123
                    definedContactData.firstName: Jane
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  Message:
                    type: string
                required:
                - Message
        '404':
          description: No handoff data found for the given callKey
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    default: '"No handoff data found for the given callKey"'
                required:
                - message
      parameters:
      - in: path
        name: callKey
        schema:
          type: string
        required: true
        description: External call identifier. For Five9 AI Agent Connect, this is the value of the X-CallSessionId SIP header
          Five9 sent on the original call to Regal.
      - in: query
        name: provider
        schema:
          type: string
          enum:
          - five9
          default: five9
        required: true
        description: Provider response format. Only five9 is currently supported.
      - in: header
        name: Authorization
        schema:
          type: string
        required: true
        description: Your Regal API Key
      summary: Call Handoff
      operationId: get_callhandoffs-callkey
      description: Retrieve routing instructions and call metadata after a Regal AI agent leaves a live call.
      x-readme:
        code-samples:
        - code: 'curl -X GET "https://api.regal.ai/v1/callHandoffs/five9-session-abc123?provider=five9" \

            --header ''Authorization: YOUR API KEY'''
          language: shell
          name: ''
        samples-languages:
        - shell
      x-internal: false
  /campaigns:
    get:
      summary: List Campaigns
      description: Retrieve a list of your campaigns.
      operationId: campaign-list-api
      parameters:
      - name: nextCursor
        in: query
        description: Used for pagination to retrieve the next page of data. Optional
        schema:
          type: string
      - name: size
        in: query
        description: Specific the number of results per page, up to 100.
        schema:
          type: string
          default: '25'
      - name: Authorization
        in: header
        description: Your Regal API Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Response Data:
                  value: "{\n  \"items\": [\n    {\n      \"id\": \"a2b159af-9390-488c-b33d-67447242e3bf\",\n      \"friendlyId\"\
                    : \"12\",\n      \"state\": \"ready\",\n      \"name\": \"Spring Promo Call\",\n      \"type\": \"agent-task\"\
                    ,\n      \"channel\": \"phone_call\",\n      \"dialingMode\": \"progressive\",\n      \"priority\": 100,\n\
                    \      \"createdAt\": \"2024-02-07T12:00:00Z\",\n      \"updatedAt\": \"2024-02-07T12:30:00Z\"\n    },\n\
                    \    {\n      \"id\": \"a2f9349a-941a-4707-a27c-748563b78af1\",\n      \"friendlyId\": \"14\",\n     \
                    \ \"state\": \"draft\",\n      \"name\": \"Spring Promo SMS\",\n      \"type\": \"automated\",\n     \
                    \ \"channel\": \"sms\",\n      \"dialingMode\": null,\n      \"priority\": null,\n      \"createdAt\"\
                    : \"2024-02-07T12:00:00Z\",\n      \"updatedAt\": \"2024-02-07T12:30:00Z\"\n    }\n  ],\n  \"nextCursor\"\
                    : \"xyz456\"\n}"
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: a2b159af-9390-488c-b33d-67447242e3bf
                        friendlyId:
                          type: string
                          example: '12'
                        state:
                          type: string
                          example: ready
                        name:
                          type: string
                          example: Spring Promo Call
                        type:
                          type: string
                          example: agent-task
                        channel:
                          type: string
                          example: phone_call
                        dialingMode:
                          type: string
                          example: progressive
                        priority:
                          type: integer
                          example: 100
                          default: 0
                        createdAt:
                          type: string
                          example: '2024-02-07T12:00:00Z'
                        updatedAt:
                          type: string
                          example: '2024-02-07T12:30:00Z'
                  nextCursor:
                    type: string
                    example: xyz456
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: ''
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Unauthorized:
                  value: "{\n    \"message\": \"Unauthorized\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: '403'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Rate Limit Exceeded:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl --location ''https://api.regal.ai/v1/campaigns'' \

            --header ''Authorization: YOUR API KEY'' \'
        samples-languages:
        - curl
  /brandedPhoneNumbers/{phoneNumber}:
    delete:
      summary: Delete Branded Phone Number
      description: Delete an existing phone number from spam remediation and/or branding.
      operationId: delete-branded-phone-number
      parameters:
      - name: Authorization
        in: header
        description: The API key used to authenticate requests.
        required: true
        schema:
          type: string
      - name: phoneNumber
        in: path
        description: E.164 format (e.g., +15551234567)
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Response Data:
                  value: '{ "message": "+15551234567 has been deleted"}'
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: +15551234567 has been deleted
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n    \"statusCode\": 400,\n      \"message\": [\n        \"Phone number not in valid status for\
                    \ removal\",\n        \"Phone number +asdfasdf is not valid\"\n    ],\n    \"error\": \"Bad Request\"\n\
                    }"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                    default: 0
                  message:
                    type: array
                    items:
                      type: string
                      example: Phone number not in valid status for removal
                  error:
                    type: string
                    example: Bad Request
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"statusCode\": 403,\n    \"message\": \"Invalid API Key\",\n    \"error\": \"Forbidden\"\
                    \n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                    default: 0
                  message:
                    type: string
                    example: Invalid API Key
                  error:
                    type: string
                    example: Forbidden
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Not Found:
                  value: "{\n    \"statusCode\": 404,\n    \"message\": \"Phone number +12123333333 not found for this brand\"\
                    ,\n    \"error\": \"Not Found\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                    default: 0
                  message:
                    type: string
                    example: Phone number +12123333333 not found for this brand
                  error:
                    type: string
                    example: Not Found
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Rate Limit Exceeded:
                  value: "{\n    \"statusCode\": 429,\n    \"message\": \"Too many requests\",\n    \"error\": \"Rate Limit\
                    \ Exceeded\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 429
                    default: 0
                  message:
                    type: string
                    example: Too many requests
                  error:
                    type: string
                    example: Rate Limit Exceeded
      deprecated: false
    patch:
      summary: Update Branded Phone Number
      description: Update an existing phone number for spam remediation and/or branding.
      operationId: patch-branded-phone-number
      parameters:
      - name: Authorization
        in: header
        description: The API key used to authenticate requests.
        required: true
        schema:
          type: string
      - name: phoneNumber
        in: path
        description: E.164 format (e.g., +15551234567)
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                businessProfileId:
                  type: string
                  description: Business profile id. Optional
                carrierFeatures:
                  type: array
                  description: Array of carrier configurations. Optional
                  items:
                    properties:
                      carrier:
                        type: string
                        description: Name of carrier
                        enum:
                        - AT&T
                        - T-Mobile
                        - Verizon
                      features:
                        type: object
                        description: Features are brandedCallerId and spamRemediation
                        properties:
                          brandedCallerId:
                            type: boolean
                            description: Optional, defaults to false
                          spamRemediation:
                            type: boolean
                            description: Optional, defaults to false
                    type: object
                brandingNameShort:
                  type: string
                  description: Display name (max 15 characters). Optional
                brandingNameLong:
                  type: string
                  description: Display name (max 32 characters). Optional
                internalName:
                  type: string
                  description: Internal friendly name for your phone number (e.g. Main Line, NE Region). Optional
                reportingGroup:
                  type: string
                  description: Name of reporting group for analytics. Optional
            examples:
              Request Example:
                value:
                  brandingNameShort: New Name Short
                  brandingNameLong: New Name Long Long
                  internalName: Sales Line
                  reportingGroup: Experiment
                  carrierFeatures:
                  - carrier: AT&T
                    features:
                      brandedCallerId: true
                  - carrier: Verizon
                    features:
                      brandedCallerId: true
                  - carrier: T-Mobile
                    features:
                      brandedCallerId: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Response Data:
                  value: "{\n    \"id\": \"xxxx-xxxx-xxxx-xxxxx-xxxx\",\n    \"phoneNumber\": \"+19545555555\",\n    \"businessProfile\"\
                    : {\n        \"id\": \"yyyy-yyyy-yyyy-yyyy-yyyy\",\n        \"businessName\": \"Circle Financial Services\"\
                    ,\n        \"status\": \"approved\"\n    },\n    \"internalName\": \"Sales Line\",\n    \"brandingNameShort\"\
                    : \"New Name Short\",\n    \"brandingNameLong\": \"New Name Long Long\",\n    \"reportingGroup\": \"Experiment\"\
                    ,\n    \"status\": \"submitted for review\",\n    \"carrierStatuses\": [\n        {\n            \"carrier\"\
                    : \"AT&T\",\n            \"feature\": \"brandedCallerId\",\n            \"detailedStatus\": \"pending.initialOptIn\"\
                    ,\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\n        },\n        {\n            \"carrier\"\
                    : \"AT&T\",\n            \"feature\": \"spamRemediation\",\n            \"detailedStatus\": \"approved.OptIn\"\
                    ,\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\n        },\n        {\n            \"carrier\"\
                    : \"T-Mobile\",\n            \"feature\": \"brandedCallerId\",\n            \"detailedStatus\": \"pending.initialOptIn\"\
                    ,\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\n        },\n        {\n            \"carrier\"\
                    : \"T-Mobile\",\n            \"feature\": \"spamRemediation\",\n            \"detailedStatus\": \"approved.OptIn\"\
                    ,\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\n        },\n\t\t\t\t{\n            \"carrier\"\
                    : \"Verizon\",\n            \"feature\": \"brandedCallerId\",\n            \"detailedStatus\": \"pending.initialOptIn\"\
                    ,\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\n        },\n        {\n            \"carrier\"\
                    : \"Verizon\",\n            \"feature\": \"spamRemediation\",\n            \"detailedStatus\": \"approved.OptIn\"\
                    \",\n            \"createdAt\": \"2026-02-11T15:32:00.907Z\"\n        }\n    ],\n    \"createdAt\": \"\
                    2026-02-11T15:32:00.850Z\",\n    \"updatedAt\": \"2026-02-11T15:32:00.850Z\"\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n    \"statusCode\": 400,\n      \"message\": [\n        \"Business profile 8cba47fe-2d84-4476-b9b1-edeb8ad99c3f\
                    \ not found for this brand\",\n        \"businessProfileId must be a UUID\",\n        \"Phone number +asdfasdf\
                    \ is not valid\",\n        \"Carrier 'madeupcarrier' is not valid. Valid carriers are: att, tmobile, verizon\"\
                    ,\n        \"Phone number +12123333333 is already in use by another brand\",\n\t\t\t\t\"brandingNameShort\
                    \ must not exceed 15 characters”,\n\t\t\t\t\"brandingNameLong must not exceed 32 characters”,\n    ],\n\
                    \    \"error\": \"Bad Request\"\n}"
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"statusCode\": 403,\n    \"message\": \"Invalid API Key\",\n    \"error\": \"Forbidden\"\
                    \n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                    default: 0
                  message:
                    type: string
                    example: Invalid API Key
                  error:
                    type: string
                    example: Forbidden
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Not Found:
                  value: "{\n    \"statusCode\": 404,\n    \"message\": \"Phone number +12123333333 not found for this brand\"\
                    ,\n    \"error\": \"Not Found\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                    default: 0
                  message:
                    type: string
                    example: Phone number +12123333333 not found for this brand
                  error:
                    type: string
                    example: Not Found
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Rate Limit Exceeded:
                  value: "{\n    \"statusCode\": 429,\n    \"message\": \"Too many requests\",\n    \"error\": \"Rate Limit\
                    \ Exceeded\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 429
                    default: 0
                  message:
                    type: string
                    example: Too many requests
                  error:
                    type: string
                    example: Rate Limit Exceeded
  /dispositions:
    get:
      summary: List Dispositions
      description: Retrieve a list of dispositions.
      operationId: disposition-list-api
      parameters:
      - name: nextCursor
        in: query
        description: Used for pagination to retrieve the next page of data. Optional
        schema:
          type: string
      - name: size
        in: query
        description: Specific the number of results per page, up to 100.
        schema:
          type: string
          default: '25'
      - name: Authorization
        in: header
        description: Your Regal API Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Response Data:
                  value: "{\n    \"items\": [\n        {\n            \"id\": \"09667559-3416-4c51-913e-e5e1ec26eb5c\",\n\
                    \            \"disposition\": \"Move Forward\",\n            \"description\": \"Customer agreed to move\
                    \ to the next step\",\n            \"isSystem\": false,\n            \"conversationHappened\": true,\n\
                    \            \"createdAt\": \"2022-08-15T16:32:23.319Z\",\n            \"updatedAt\": \"2025-02-07T16:12:06.267Z\"\
                    \n        },\n        {\n            \"id\": \"0f7c8be6-d27c-4090-bf44-3a02adae5fa1\",\n            \"\
                    disposition\": \"Need More Time\",\n            \"description\": \"Rate/Pricing too high\",\n        \
                    \    \"isSystem\": false,\n            \"conversationHappened\": true,\n            \"createdAt\": \"\
                    2022-08-15T16:31:48.245Z\",\n            \"updatedAt\": \"2022-08-15T16:31:48.245Z\"\n        },\n   \
                    \     {\n            \"id\": \"0f01cc88-ef7e-4076-bf74-836813bb4ea7\",\n            \"disposition\": \"\
                    \",\n            \"description\": \"No Answer\",\n            \"isSystem\": true,\n            \"conversationHappened\"\
                    : false,\n            \"createdAt\": \"2022-08-15T16:31:54.518Z\",\n            \"updatedAt\": \"2022-08-15T16:31:54.518Z\"\
                    \n        },\n  ],\n  \"nextCursor\": \"xyz456\"\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: ''
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Unauthorized:
                  value: "{\n    \"message\": \"Unauthorized\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: '403'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Rate Limit Exceeded:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl --location ''https://api.regal.ai/v1/dispositions'' \

            --header ''Authorization: YOUR API KEY'' \'
        samples-languages:
        - curl
  /users/{userIdOrEmail}:
    get:
      responses:
        '200':
          description: User returned successfully.
          content:
            application/json:
              examples:
                OK:
                  summary: OK
                  value:
                    id: 11111111-1111-4111-8111-111111111101
                    email: user@example.com
                    firstName: Avery
                    lastName: User
                    skills:
                    - name: Outbound Call
                    teams:
                    - id: 22222222-2222-4222-8222-222222222202
                      name: Sales Team
                    customAttributes:
                      tier: gold
                    eligibleQueues:
                    - id: 33333333-3333-4333-8333-333333333303
                      name: Sales Queue
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 11111111-1111-4111-8111-111111111101
                  email:
                    type: string
                    example: user@example.com
                  firstName:
                    type: string
                    example: Avery
                  lastName:
                    type: string
                    example: User
                  skills:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: Outbound Call
                        disabled:
                          type: boolean
                  teams:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 22222222-2222-4222-8222-222222222202
                        name:
                          type: string
                          example: Sales Team
                  customAttributes:
                    type: object
                    properties:
                      tier:
                        type: string
                        example: gold
                  eligibleQueues:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 33333333-3333-4333-8333-333333333303
                        name:
                          type: string
                          example: Sales Queue
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    default: Unauthorized
                required:
                - message
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: object
                properties: {}
        '404':
          description: User not found for this brand.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '429':
          description: Rate Limit Exceeded
          content:
            text/plain:
              schema:
                type: object
                properties: {}
      parameters:
      - in: path
        name: userIdOrEmail
        schema:
          type: string
        required: true
        description: Regal user UUID or exact login email.
      - in: header
        name: Authorization
        schema:
          type: string
        required: true
        description: Your Regal API Key
      - in: header
        name: accept
        schema:
          type: string
          default: application/json
      operationId: get_users-useridoremail
      summary: Get User
      description: Retrieve a single user by Regal user UUID or exact login email.
      x-readme:
        code-samples:
        - code: "curl --request GET \\\n  --url 'https://api.regal.ai/v1/users/user%40example.com' \\\n  --header 'Authorization:\
            \ YOUR_REGAL_API_KEY' \\\n  --header 'accept: application/json'"
          language: shell
          name: ''
        samples-languages:
        - shell
  /users:
    get:
      responses:
        '200':
          description: Users returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 11111111-1111-4111-8111-111111111101
                        email:
                          type: string
                          example: user@example.com
                        firstName:
                          type: string
                          example: Avery
                        lastName:
                          type: string
                          example: User
                        skills:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: Outbound Call
                              disabled:
                                type: boolean
                        teams:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 22222222-2222-4222-8222-222222222202
                              name:
                                type: string
                                example: Sales Team
                        customAttributes:
                          type: object
                          properties:
                            tier:
                              type: string
                              example: gold
                            region:
                              type: string
                              example: us-east
                  nextCursor: {}
              examples:
                OK:
                  summary: OK
                  value:
                    items:
                    - id: 11111111-1111-4111-8111-111111111101
                      email: user@example.com
                      firstName: Avery
                      lastName: User
                      skills:
                      - name: Outbound Call
                      teams:
                      - id: 22222222-2222-4222-8222-222222222202
                        name: Sales Team
                      customAttributes:
                        tier: gold
                        region: us-east
                    nextCursor: null
        '400':
          description: Invalid query parameters, unknown team, or unknown queue.
          content: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
              examples:
                Unauthorized:
                  summary: Unauthorized
                  value:
                    message: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                type: object
                properties: {}
              examples:
                Forbidden:
                  summary: Forbidden
                  value: ''
        '429':
          description: Rate Limit Exceeded
          content:
            text/plain:
              schema:
                type: object
                properties: {}
              examples:
                Rate Limit Exceeded:
                  summary: Rate Limit Exceeded
                  value: ''
      parameters:
      - in: query
        name: nextCursor
        schema:
          type: string
        description: Cursor returned from the previous response.
      - in: query
        name: size
        schema:
          type: number
        description: Number of results per page. Defaults to 25. Maximum 100.
      - in: query
        name: email
        schema:
          type: string
        description: Case-insensitive email substring filter.
      - in: query
        name: skills
        schema:
          type: string
        description: URL-encoded JSON array of skill names. User must have all listed skills.
      - in: query
        name: teams
        schema:
          type: string
        description: URL-encoded JSON array of team names. User must belong to at least one listed team.
      - in: query
        name: queues
        schema:
          type: string
        description: URL-encoded JSON array of queue names. User must be eligible for at least one listed queue.
      - in: query
        name: customAttributes
        schema:
          type: string
        description: URL-encoded JSON object of custom attribute key-value filters. Values may be strings, numbers, booleans,
          or null.
      - in: header
        name: Authorization
        schema:
          type: string
        required: true
        description: Your Regal API Key
      - in: header
        name: accept
        schema:
          type: string
          default: application/json
        description: ''
      summary: List Users
      description: Retrieve a list of your users.
      x-readme:
        code-samples:
        - code: "curl --request GET \\\n  --url 'https://api.regal.ai/v1/users?size=25&skills=%5B%22Outbound%20Call%22%5D&customAttributes=%7B%22tier%22%3A%22gold%22%7D'\
            \ \\\n  --header 'Authorization: YOUR_REGAL_API_KEY' \\\n  --header 'accept: application/json'"
          language: shell
          name: ''
        samples-languages:
        - shell
      operationId: get_users
  /messages/send:
    post:
      summary: Send Message
      description: Send messages at scale.
      operationId: send-message
      parameters:
      - name: Authorization
        in: header
        description: Your Regal API Key
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - to
              - channel
              properties:
                to:
                  type: object
                  description: The message recipient.
                  required:
                  - phoneNumber
                  properties:
                    phoneNumber:
                      type: string
                      description: Valid phone number of the recipient.
                    bypassOptIn:
                      type: boolean
                      description: Whether to send the message even if the recipient has not opted in to SMS. If false (default
                        if omitted), the message will only be sent if the contact is opted in. If campaignId is provided and
                        to.bypassOptIn is omitted, the campaign’s bypass setting will be used.
                      default: false
                from:
                  type: object
                  description: The message sender.
                  required:
                  - phoneNumber
                  properties:
                    phoneNumber:
                      type: string
                      description: Phone number belonging to your brand
                channel:
                  type: string
                  description: The communication channel.
                  enum:
                  - '"sms"'
                content:
                  type: object
                  description: The message content.
                  required:
                  - body
                  properties:
                    body:
                      type: string
                      description: The message's content (up to 1600 characters)
                    mediaUrls:
                      type: array
                      description: The image attachment for the message. If provided, this must be an array with a maximum
                        of one valid image URL. Multiple attachments are not supported.
                      items:
                        type: string
                campaignId:
                  type: integer
                  description: If an SMS campaign is provided, the campaign supplies default content, from number, and opt-in
                    behavior. Any values included in the request (via content, from, or to.bypassOptIn) override the campaign
                    defaults.
                  format: int32
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Response Data:
                  value: "{\n    \"status\": \"queued\",\n    \"message\": \"enqueued for sms-interaction-job\",\n    \"idempotencyKey\"\
                    : \"80d65f2f3832ffeed65346056bab1cd8\"\n}"
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: queued
                  message:
                    type: string
                    example: enqueued for sms-interaction-job
                  idempotencyKey:
                    type: string
                    example: 80d65f2f3832ffeed65346056bab1cd8
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n    \"statusCode\": 400,\n    \"message\": [\n        \"channel must be one of the following\
                    \ values: 'sms'\",\n        \"to should not be empty\",\n        \"'content' is required when 'campaignId'\
                    \ is not provided.\"\n    ],\n    \"error\": \"Bad Request\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                    default: 0
                  message:
                    type: array
                    items:
                      type: string
                      example: 'channel must be one of the following values: ''sms'''
                  error:
                    type: string
                    example: Bad Request
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Unauthorized:
                  value: "{\n    \"message\": \"Unauthorized\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"statusCode\": 403,\n    \"message\": \"Invalid API Key\",\n    \"error\": \"Forbidden\"\
                    \n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                    default: 0
                  message:
                    type: string
                    example: Invalid API Key
                  error:
                    type: string
                    example: Forbidden
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Rate Limit Exceeded:
                  value: "{\n  \"message\":\"Too Many Requests\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too Many Requests
      x-readme:
        code-samples:
        - language: curl
          code: "curl --location 'https://api.regal.ai/v1/messages/send' \\\n--header 'Authorization: YOUR API KEY' \\\n--header\
            \ 'Content-Type: application/json' \\\n--data '{\n    \"to\": {\n      \"phoneNumber\": \"800‑555‑0100\",\n  \
            \    \"bypassOptIn\": true\n    },\n    \"channel\": \"sms\",\n    \"content\": {\n      \"body\": \"Your appointment\
            \ is confirmed for tomorrow!\",\n      \"mediaUrls\": [\"http://github.com/regal-voice.png\"]\n    }\n  }'"
        samples-languages:
        - curl
